
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.collapsed-journey-board-a9v {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .group-1729-fx4 {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f0f0f0;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 8.297rem 2.1rem 8.3rem;
    width: 100%;
    display: flex;
    align-items: center;

    .logo-1-vWc {
      margin-right: 74.058rem;
      width: 30.942rem;
      height: 4.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .group-1097-EXJ {
      background-image: url('REPLACE_IMAGE:20287:55');
      margin: 0.937rem 2.3rem 0rem 0rem;
      white-space: nowrap;
      background-size: cover;
      flex-shrink: 0;
      width: 3rem;
      font-weight: 900;
      line-height: 1.2575;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      font-size: 1.5rem;
      letter-spacing: 0.03rem;
      color: #ffffff;
      font-family: Font Awesome 5 Free, 'Source Sans Pro';
      display: flex;
      background-position: center;
      height: 3.2366rem;
    }
    .group-1100-qGC {
      margin: 0.937rem 0.644rem 0rem 0rem;
      width: 4.4rem;
      height: 3.2366rem;
      position: relative;
      flex-shrink: 0;

      .group-1098-x5v {
        height: 3.2366rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .tools-sig {
        width: 3.6rem;
        height: 1.9rem;
        position: absolute;
        font-size: 1.5rem;
        letter-spacing: 0.03rem;
        color: #ffffff;
        white-space: nowrap;
        left: 0.8rem;
        top: 0.6474rem;
        font-weight: 900;
        line-height: 1.2575;
        font-family: Font Awesome 5 Free, 'Source Sans Pro';
      }
    }
    .auto-group-xgde-xk8 {
      width: 3.1711rem;
      height: 3.3466rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.733rem 2.285rem 0rem 0rem;
    }
    .ellipse-53-rKi {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:7ac85301b9bfc59f733c9f17f2bede82c41154f1');
      margin: 0.4rem 2.6rem 0rem 0rem;
      height: 3.7rem;
      background-position: center;
      border-radius: 1.85rem;
      flex-shrink: 0;
      width: 3.7rem;
      background-repeat: no-repeat;
    }
    .auto-group-dc7j-7mS {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.7962rem;
      width: 0.3027rem;
      height: 1.4962rem;
      object-fit: contain;
    }
  }
  .auto-group-ewxn-oeG {
    width: 159.3676rem;
    height: 88.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-dgrt-jXv {
      flex-shrink: 0;
      margin: 0rem 5.5rem 14.5rem 0rem;
      display: flex;
      background-color: #ffffff;
      box-shadow: 0.1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      width: 13.2rem;
      align-items: center;
      flex-direction: column;

      .rectangle-1874-3oW {
        width: 100%;
        height: 5rem;
        background-color: #000000;
        border-radius: 0 2rem 0 0;
        flex-shrink: 0;
      }
      .auto-group-gkxa-yhA {
        width: 100%;
        height: 69.2rem;
        position: relative;
        box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
        background-color: #fcfcfc;
        border-radius: 0 0 2rem 2rem;
        flex-shrink: 0;

        .rectangle-1881-iek {
          top: 2.6rem;
          border: solid 0.1rem #0029ff;
          box-sizing: border-box;
          border-radius: 2rem;
          width: 6.8rem;
          height: 6.8rem;
          position: absolute;
          left: 3.2rem;
        }
        .item-1-DrQ {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.3rem;
          font-weight: 400;
          left: 6rem;
          top: 3.3rem;
          font-size: 3.6rem;
          line-height: 1.5;
          letter-spacing: 0.072rem;
          color: #0029ff;
          height: 5.4rem;
          position: absolute;
        }
      }
    }
    .auto-group-br7w-BRr {
      margin: 1.8rem 9.2rem 0rem 0rem;
      width: 106.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-twva-6Yp {
        margin-bottom: 3.7rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .technical-project-management-dYk {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 47.9rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.056rem;
          color: #0029ff;
          font-size: 2.8rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .component-58-LCG {
          background-color: #0029ff;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          width: 12.1rem;
          height: 3.6rem;
          color: #ffffff;
          display: flex;
          font-size: 1.2rem;
          justify-content: center;
          border-radius: 1rem;
        }
      }
      .auto-group-krql-CVN {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 7.5rem;
        box-sizing: border-box;
        padding: 2.5rem 4.4rem 2.8rem 2.7rem;
        width: 100%;
        height: 13.5rem;
        background-color: #e9ecef;

        .group-1730-WW4 {
          flex-direction: column;
          width: 100%;
          height: 100%;
          display: flex;

          .explore-the-world-of-management-GEL {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            letter-spacing: 0.04rem;
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .as-a-project-manager-you-play-an-important-reole-in-leading-a-project-through-initiation-planning-execution-monitoring-controlling-and-completion-how-do-you-want-to-manage-each-and-every-step-of-your-life-5b6 {
            max-width: 99.5rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.028rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-zvqc-Ut8 {
        height: 58rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0 2.7rem;
        width: calc(100% - 5.4rem);

        .auto-group-4h5a-pBJ {
          border-radius: 1.5rem;
          box-sizing: border-box;
          box-shadow: 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #fcfcfc;
          height: 100%;
          flex-shrink: 0;
          margin-right: 5.2rem;
          padding-bottom: 15.3rem;
          width: 48rem;

          .auto-group-mnmw-L9e {
            margin-bottom: 1.9rem;
            box-sizing: border-box;
            padding: 1.4rem 2.9rem 1.4rem 11.7rem;
            width: 100%;
            height: 5rem;
            display: flex;
            align-items: center;
            background-color: #000000;
            border-radius: 1.5rem 1.5rem 0 0;

            .technical-project-management-qs6 {
              margin-right: 6.5rem;
              line-height: 1.3625;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              white-space: nowrap;
              font-size: 1.6rem;
              font-weight: 600;
              letter-spacing: 0.032rem;
              color: #ffffff;
            }
            .group-1735-976 {
              background-color: #ffffff;
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: 0.032rem;
              font-family: Poly, 'Source Sans Pro';
              justify-content: center;
              flex-shrink: 0;
              color: #000000;
              white-space: nowrap;
              display: flex;
              align-items: center;
              border-radius: 1.1rem;
              height: 100%;
              line-height: 1.19;
              width: 2.2rem;
            }
          }
          .description-story-of-alignment-scope-of-agility-specific-accountable-staggering-approach-nvk {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.03rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            margin: 0rem 0rem 2.5rem 1.1rem;
            max-width: 39rem;

            .description-story-of-alignment-scope-of-agility-specific-accountable-staggering-approach-nvk-sub-0 {
              letter-spacing: 0.03rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3625;
            }
            .description-story-of-alignment-scope-of-agility-specific-accountable-staggering-approach-nvk-sub-1 {
            }
            .description-story-of-alignment-scope-of-agility-specific-accountable-staggering-approach-nvk-sub-2 {
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: 0.03rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .description-story-of-alignment-scope-of-agility-specific-accountable-staggering-approach-nvk-sub-3 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.3625;
              letter-spacing: 0.03rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
          }
          .image-13-Kr8 {
            vertical-align: top;
            width: 48rem;
            height: 29.1rem;
            object-fit: cover;
          }
        }
        .auto-group-wdsv-boe {
          display: flex;
          flex-direction: column;
          box-shadow: 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 48rem;
          height: 100%;
          align-items: center;
          background-color: #fcfcfc;
          border-radius: 1.5rem;
          flex-shrink: 0;

          .auto-group-tuj4-9KN {
            padding: 1.4rem 2.8rem 1.4rem 19.2rem;
            width: 100%;
            height: 5rem;
            background-color: #000000;
            border-radius: 1.5rem 1.5rem 0 0;
            flex-shrink: 0;
            box-sizing: border-box;
            display: flex;
            align-items: center;

            .threadbuild-4x8 {
              margin-right: 14rem;
              font-size: 1.6rem;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 600;
              line-height: 1.3625;
              letter-spacing: 0.032rem;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .group-1736-PUc {
              white-space: nowrap;
              color: #000000;
              display: flex;
              align-items: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.19;
              letter-spacing: 0.032rem;
              background-color: #ffffff;
              justify-content: center;
              border-radius: 1.1rem;
              flex-shrink: 0;
              width: 2.2rem;
              height: 100%;
              font-family: Poly, 'Source Sans Pro';
            }
          }
          .auto-group-vo5s-SSt {
            box-sizing: border-box;
            padding: 1.9rem 1rem 2.5rem 1rem;
            width: 100%;
            box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
            background-color: #fcfcfc;
            flex-shrink: 0;

            .description-watch-the-video-and-threadbuild-and-jot-out-key-threads-while-watching-the-video-NrL {
              line-height: 1.5;
              letter-spacing: 0.03rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              max-width: 43.3rem;
              font-size: 1.5rem;
              font-weight: 600;

              .description-watch-the-video-and-threadbuild-and-jot-out-key-threads-while-watching-the-video-NrL-sub-0 {
                font-weight: 600;
                line-height: 1.3625;
                letter-spacing: 0.03rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .description-watch-the-video-and-threadbuild-and-jot-out-key-threads-while-watching-the-video-NrL-sub-1 {
              }
              .description-watch-the-video-and-threadbuild-and-jot-out-key-threads-while-watching-the-video-NrL-sub-2 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.03rem;
                color: #000000;
              }
              .description-watch-the-video-and-threadbuild-and-jot-out-key-threads-while-watching-the-video-NrL-sub-3 {
                letter-spacing: 0.03rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3625;
              }
            }
          }
          .auto-group-gyxe-vet {
            box-sizing: border-box;
            padding: 0.1rem 0.1rem 2.6rem 0.1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .group-1431-St8 {
              background-color: rgba(253, 255, 192, 0.200000003);
              flex-shrink: 0;
              margin-bottom: 3rem;
              box-sizing: border-box;
              padding: 0.6rem 29.041rem 0.6rem 0.996rem;
              width: 100%;
              border: solid 0.01rem rgba(0, 0, 0, 0.400000006);
              display: flex;
              align-items: center;

              .vector-N16 {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 7.165rem 0.04rem 0rem;
                width: 1.5978rem;
                height: 0.96rem;
                object-fit: contain;
              }
              .thread-a-tVE {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3625;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .auto-group-dkfa-b8k {
              width: calc(100% - 5.3rem);
              height: 9.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.7rem 2.1rem 2.6rem;

              .group-1592-6rC {
                flex-shrink: 0;
                margin-right: 2.7rem;
                width: 19.9rem;
                height: 100%;
                border-radius: 1rem;

                .group-1485-dr8 {
                  width: 100%;
                  height: 100%;
                  position: relative;
                  border-radius: 1rem;

                  .bg-layer-bHA {
                    left: 0;
                    top: 0;
                    box-sizing: border-box;
                    width: 19.9rem;
                    height: 6.5rem;
                    position: absolute;
                    border-radius: 1rem;
                    border: solid 0.01rem rgba(51, 51, 51, 0.5);
                    box-shadow: 0.1rem 0.3rem 0.8rem rgba(0, 0, 0, 0.25);
                    background-color: rgba(0, 0, 0, 0.0250000004);
                  }
                  .bg-layer-TaG {
                    width: 19.9rem;
                    box-sizing: border-box;
                    padding: 0.7rem;
                    font-weight: 400;
                    color: #6c757d;
                    background-color: rgba(255, 255, 255, 0.5);
                    height: 7rem;
                    position: absolute;
                    left: 0;
                    line-height: 1.3625;
                    white-space: nowrap;
                    border: solid 0.01rem rgba(51, 51, 51, 0.5);
                    top: 2.5rem;
                    font-size: 1.2rem;
                    font-family: Open Sans, 'Source Sans Pro';
                    box-shadow: 0.1rem 0.3rem 0.8rem rgba(0, 0, 0, 0.25);
                    border-radius: 1rem;
                  }
                  .sub-thread-1-GXi {
                    font-weight: 400;
                    line-height: 1.3625;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 1.7rem;
                    position: absolute;
                    font-size: 1.2rem;
                    width: 7.2rem;
                    left: 0.6922rem;
                    top: 0.4rem;
                  }
                }
              }
              .group-1595-kBz {
                margin-bottom: 0.099rem;
                width: 19.9rem;
                height: 9.401rem;
                border-radius: 1rem;
                flex-shrink: 0;

                .group-1485-toz {
                  width: 100%;
                  height: 100%;
                  position: relative;
                  border-radius: 1rem;

                  .bg-layer-FPe {
                    box-shadow: 0.1rem 0.3rem 0.8rem rgba(0, 0, 0, 0.25);
                    background-color: rgba(0, 0, 0, 0.0250000004);
                    border-radius: 1rem;
                    height: 6.4323rem;
                    left: 0;
                    border: solid 0.01rem rgba(51, 51, 51, 0.5);
                    box-sizing: border-box;
                    width: 19.9rem;
                    position: absolute;
                    top: 0;
                  }
                  .bg-layer-Yde {
                    left: 0;
                    font-size: 1.2rem;
                    font-family: Open Sans, 'Source Sans Pro';
                    box-shadow: 0.1rem 0.3rem 0.8rem rgba(0, 0, 0, 0.25);
                    width: 19.9rem;
                    height: 6.9271rem;
                    border-radius: 1rem;
                    top: 2.4739rem;
                    line-height: 1.3625;
                    border: solid 0.01rem rgba(51, 51, 51, 0.5);
                    background-color: rgba(255, 255, 255, 0.5);
                    box-sizing: border-box;
                    padding: 0.6928rem 0.7106rem;
                    color: #6c757d;
                    white-space: nowrap;
                    position: absolute;
                    font-weight: 400;
                  }
                  .sub-interpretation-1-jCL {
                    font-size: 1.2rem;
                    white-space: nowrap;
                    height: 1.7rem;
                    position: absolute;
                    top: 0.3958rem;
                    line-height: 1.3625;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                    width: 11.3rem;
                    left: 0.6921rem;
                    font-weight: 400;
                  }
                }
              }
            }
            .auto-group-2mwn-ysN {
              flex-shrink: 0;
              margin: 0rem 0rem 3.6rem 10.8rem;
              height: 3.2rem;
              display: flex;
              align-items: center;

              .group-1588-HdA {
                margin: 0.6rem 2.651rem 0.6rem 0rem;
                height: calc(100% - 1.2rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .vector-N8p {
                  width: 1.4783rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.4001rem;
                }
                .vector-f7v {
                  width: 2.1rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.4rem;
                }
                .vector-Zyz {
                  margin-right: 1.4rem;
                  width: 2.1rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .vector-WeL {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 1.8712rem;
                  height: 1.8rem;
                }
              }
              .group-1732-ekY {
                box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
                border-radius: 0.5rem;
                height: 100%;
                align-items: center;
                padding: 0.8rem 0.581rem 0.9rem 0.4rem;
                display: flex;
                background-color: #ffffff;
                flex-shrink: 0;
                margin-right: 1.7rem;
                box-sizing: border-box;

                .select-categ-aeC {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 0.6rem;
                  font-size: 1rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                }
                .vector-K5z {
                  flex-shrink: 0;
                  margin-top: 0.0877rem;
                  width: 1.0185rem;
                  height: 0.5877rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .group-1733-oWx {
                box-sizing: border-box;
                align-items: center;
                box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
                background-color: #ffffff;
                border-radius: 0.5rem;
                flex-shrink: 0;
                padding: 0.8rem 0.581rem 0.9rem 0.4rem;
                height: 100%;
                display: flex;

                .select-proces-Xxk {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 0.3rem;
                  font-size: 1rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                }
                .vector-4hn {
                  margin-top: 0.0877rem;
                  width: 1.0185rem;
                  height: 0.5877rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .component-57-ZPe {
              box-sizing: border-box;
              padding: 0.72rem 1.1rem 0.48rem 0.808rem;
              width: 9.7rem;
              height: 3.6rem;
              background-color: #0029ff;
              border-radius: 1rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1.9rem 2.6rem;

              .group-1734-TV2 {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .item--csi {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 0.5917rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #ffffff;
                  font-family: Roboto, 'Source Sans Pro';
                }
                .sub-thread-xAt {
                  font-size: 1.2rem;
                  font-weight: 500;
                  line-height: 1.1725;
                  color: #ffffff;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.1801rem;
                }
              }
            }
            .group-1600-fLC {
              height: 10.8rem;
              border-radius: 1rem;
              flex-shrink: 0;
              margin: 0rem 2.7rem 0rem 2.6rem;
              width: calc(100% - 5.3rem);

              .group-1485-zNU {
                position: relative;
                border-radius: 1rem;
                width: 100%;
                height: 100%;

                .bg-layer-9WG {
                  background-color: rgba(0, 0, 0, 0.0250000004);
                  left: 0;
                  box-sizing: border-box;
                  box-shadow: 0.1rem 0.3rem 0.8rem rgba(0, 0, 0, 0.25);
                  top: 0;
                  border: solid 0.01rem rgba(51, 51, 51, 0.5);
                  border-radius: 1rem;
                  width: 42.5rem;
                  height: 6.5rem;
                  position: absolute;
                }
                .bg-layer-Rig {
                  position: absolute;
                  left: 0;
                  line-height: 1.3625;
                  font-family: Open Sans, 'Source Sans Pro';
                  font-weight: 400;
                  border: solid 0.01rem rgba(51, 51, 51, 0.5);
                  border-radius: 1rem;
                  width: 42.5rem;
                  top: 2.5rem;
                  white-space: nowrap;
                  box-shadow: 0.1rem 0.3rem 0.8rem rgba(0, 0, 0, 0.25);
                  background-color: rgba(255, 255, 255, 0.5);
                  box-sizing: border-box;
                  padding: 0.7rem 1.4782rem;
                  height: 8.3rem;
                  font-size: 1.2rem;
                  color: #999999;
                }
                .summary-for-thread-a-JNU {
                  line-height: 1.3625;
                  color: #000000;
                  width: 12.7rem;
                  height: 1.7rem;
                  left: 1.4782rem;
                  top: 0.4rem;
                  font-weight: 400;
                  position: absolute;
                  font-size: 1.2rem;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
    .auto-group-yrsa-fMS {
      margin: 0rem 2.5rem 45.7rem 0rem;
      width: 9.5rem;
      height: 39.4rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-2325-yN8 {
        width: 9.5rem;
        height: 39.4rem;
        position: absolute;
        left: 0rem;
        top: 0;
        box-shadow: 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 3rem 0 0 3rem;
      }
      .rectangle-2326-eDN {
        left: 0;
        top: 0;
        background-color: #000000;
        border-radius: 3rem 3rem 0 0;
        width: 5rem;
        height: 39.4rem;
        position: absolute;
      }
      .n-o-t-i-c-e-b-o-a-r-d-aMv {
        left: 2.1rem;
        top: 7.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        width: 1.2rem;
        height: 28.8rem;
        letter-spacing: 0.032rem;
        color: #ffffff;
        position: absolute;
        line-height: 1.5;
      }
      .x-01-4nt {
        left: 1.7rem;
        top: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.9833rem;
        height: 1.9833rem;
        position: absolute;
      }
    }
    .group-1585-nTz {
      margin: 61.9rem 0rem 23.6rem 0rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;
      padding: 0.8rem 1.555rem 0.9rem 1.544rem;
      width: 12.8676rem;
      height: calc(100% - 85.5rem);

      .select-process-mqi {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.35rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
      }
      .vector-Vmi {
        margin-top: 0.0877rem;
        width: 1.0185rem;
        height: 0.5877rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-ejvj-N4p {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.7rem 5.2rem 1.8rem 21.3rem;
    width: 100%;
    align-items: flex-end;
    display: flex;

    .auto-group-s9vy-5jv {
      margin-bottom: 2.1rem;
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-pnky-29N {
        margin: 0rem 5.2rem 6.7rem 0rem;
        padding-top: 0.1rem;
        flex-direction: column;
        border-radius: 1.5rem;
        box-sizing: border-box;
        width: 48rem;
        align-items: center;
        display: flex;
        box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #fcfcfc;
        flex-shrink: 0;

        .auto-group-pfsx-vVe {
          width: 100%;
          background-color: #000000;
          border-radius: 1.5rem 1.5rem 0 0;
          flex-shrink: 0;
          align-items: center;
          margin-bottom: 2.8rem;
          box-sizing: border-box;
          padding: 1.4rem 2.8rem 1.4rem 14.5rem;
          height: 5rem;
          display: flex;

          .structure-your-pointers-eAk {
            font-weight: 600;
            letter-spacing: 0.032rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.6rem;
            font-size: 1.6rem;
            line-height: 1.3625;
          }
          .group-1737-9dJ {
            justify-content: center;
            background-color: #ffffff;
            border-radius: 1.1rem;
            line-height: 1.19;
            font-family: Poly, 'Source Sans Pro';
            align-items: center;
            height: 100%;
            letter-spacing: 0.032rem;
            width: 2.2rem;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            color: #000000;
            display: flex;
          }
        }
        .description-write-a-300-400-word-article-from-your-thread-publish-your-understanding-and-showcase-your-understanding-to-the-entire-world-PXe {
          letter-spacing: 0.03rem;
          flex-shrink: 0;
          margin: 0rem 0rem 4.2rem 0.8rem;
          max-width: 43.4rem;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 600;

          .description-write-a-300-400-word-article-from-your-thread-publish-your-understanding-and-showcase-your-understanding-to-the-entire-world-PXe-sub-0 {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3625;
            letter-spacing: 0.03rem;
          }
          .description-write-a-300-400-word-article-from-your-thread-publish-your-understanding-and-showcase-your-understanding-to-the-entire-world-PXe-sub-1 {
            font-weight: 600;
            line-height: 1.3625;
            letter-spacing: 0.03rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.5rem;
          }
          .description-write-a-300-400-word-article-from-your-thread-publish-your-understanding-and-showcase-your-understanding-to-the-entire-world-PXe-sub-2 {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.03rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .description-write-a-300-400-word-article-from-your-thread-publish-your-understanding-and-showcase-your-understanding-to-the-entire-world-PXe-sub-3 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3625;
            letter-spacing: 0.03rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .auto-group-p744-6cQ {
          background-color: #fcfcfc;
          border-radius: 0 0 1.5rem 1.5rem;
          flex-shrink: 0;
          margin-left: 0.1rem;
          box-sizing: border-box;
          padding: 2.8rem 2.6rem 0rem 3.1rem;
          width: 47.9rem;
          border: solid 0.1rem #d1cece;

          .title-CvL {
            line-height: 1.3625;
            letter-spacing: 0.032rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .rectangle-1880-jfN {
            margin-bottom: 2.8rem;
            width: 100%;
            height: 4.3rem;
            box-shadow: -0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006);
            background-color: #fbfbfb;
            border-radius: 0.5rem;
          }
          .content-qiQ {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3625;
            letter-spacing: 0.032rem;
            color: #000000;
          }
          .auto-group-sdgc-yZi {
            box-sizing: border-box;
            padding: 1.3rem 4.3rem 1.7rem 1.815rem;
            width: 100%;
            align-items: center;
            border-radius: 0.5rem 0.5rem 0 0;
            height: 8.2rem;
            display: flex;
            box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1800000072);
            background-color: #fbfbfb;

            .auto-group-btqk-suz {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 0.785rem 0.415rem 0rem;

              .file-DU4 {
                font-weight: 400;
                letter-spacing: 0.024rem;
                white-space: nowrap;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                margin: 0rem 0rem 1.815rem 0.185rem;
                font-size: 1.2rem;
                line-height: 1.5;
                color: #606060;
              }
              .arrow-curve-left-right-i9v {
                height: 1.17rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 1.47rem;
              }
            }
            .auto-group-qnt2-Sbi {
              margin: 0rem 0.29rem 0.432rem 0rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .edit-Mya {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #606060;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 0rem 1.732rem 0.815rem;
                letter-spacing: 0.024rem;
                white-space: nowrap;
              }
              .arrow-curve-left-down-5Pn {
                width: 1.33rem;
                height: 1.235rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .auto-group-2vse-cec {
              flex-shrink: 0;
              height: 100%;
              align-items: flex-end;
              display: flex;
              flex-direction: column;

              .auto-group-v14t-ZZr {
                margin-bottom: 1.5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .view-K3E {
                  font-weight: 400;
                  letter-spacing: 0.024rem;
                  color: #606060;
                  margin-right: 1.5rem;
                  font-size: 1.2rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .insert-dJp {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.024rem;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  color: #606060;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                }
                .format-ZCU {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.024rem;
                  color: #606060;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-3xov-fmJ {
                margin-right: 0.2rem;
                height: 1.9rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .arrow-expand-02-zYg {
                  height: 1.52rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.79rem 0.2rem 0rem;
                  width: 1.52rem;
                }
                .auto-group-kt8g-J3a {
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;
                  margin-right: 1.2rem;
                  width: 10.2rem;

                  .rectangle-2318-qJQ {
                    width: 10.2rem;
                    height: 1.8rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: #ebebeb;
                  }
                  .paragraph-NZE {
                    width: 6.7rem;
                    line-height: 1.5;
                    letter-spacing: 0.024rem;
                    color: #606060;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 1.8rem;
                    position: absolute;
                    left: 0.3rem;
                    top: 0.1rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                  }
                }
                .ellipse-195-Gec {
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  width: 0.5rem;
                  height: 0.5rem;
                  background-color: #606060;
                  border-radius: 0.25rem;
                }
              }
            }
            .ellipse-196-PjE {
              flex-shrink: 0;
              margin: 3.1rem 0.2rem 0rem 0rem;
              width: 0.5rem;
              height: 0.5rem;
              background-color: #606060;
              border-radius: 0.25rem;
            }
            .ellipse-197-7fE {
              height: 0.5rem;
              background-color: #606060;
              border-radius: 0.25rem;
              flex-shrink: 0;
              margin: 3.1rem 0.4rem 0rem 0rem;
              width: 0.5rem;
            }
            .tools-Ezk {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              line-height: 1.5;
              color: #606060;
              font-family: Poppins, 'Source Sans Pro';
              margin: 0rem 1.5rem 3.4rem 0rem;
              font-weight: 400;
              letter-spacing: 0.024rem;
            }
            .table-M3n {
              margin: 0rem 1.5rem 3.4rem 0rem;
              font-weight: 400;
              line-height: 1.5;
              font-size: 1.2rem;
              letter-spacing: 0.024rem;
              color: #606060;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .help-rmE {
              line-height: 1.5;
              letter-spacing: 0.024rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.4rem;
              font-size: 1.2rem;
              font-weight: 400;
              color: #606060;
            }
          }
          .rectangle-2320-Ytx {
            box-shadow: -0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006);
            background-color: #fbfbfb;
            width: 100%;
            height: 14.2rem;
          }
        }
      }
      .auto-group-u75j-n2c {
        margin: 0rem 7.8rem 6.7rem 0rem;
        box-sizing: border-box;
        padding-top: 0.1rem;
        width: 48rem;
        box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #fcfcfc;
        border-radius: 1.5rem;
        flex-shrink: 0;

        .auto-group-ju1a-6JC {
          align-items: center;
          background-color: #000000;
          border-radius: 1.5rem 1.5rem 0 0;
          margin-bottom: 4.7rem;
          box-sizing: border-box;
          padding: 1.4rem 2.7rem 1.3rem 19.2rem;
          width: 100%;
          display: flex;

          .sa-method-oyJ {
            white-space: nowrap;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.3625;
            letter-spacing: 0.032rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 14.2rem 0.1rem 0rem;
          }
          .group-1738-Wcp {
            color: #000000;
            white-space: nowrap;
            display: flex;
            border-radius: 1.1rem;
            flex-shrink: 0;
            margin-top: 0.1rem;
            line-height: 1.19;
            letter-spacing: 0.032rem;
            justify-content: center;
            background-color: #ffffff;
            height: 2.2rem;
            font-weight: 400;
            font-family: Poly, 'Source Sans Pro';
            font-size: 1.6rem;
            align-items: center;
            width: 2.2rem;
          }
        }
        .description-to-explore-more-read-more-9fn {
          align-items: baseline;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          margin: 0rem 0rem 3.2rem 2.3rem;
          letter-spacing: 0.03rem;
          color: #000000;
          white-space: nowrap;

          .description-to-explore-more-read-more-9fn-sub-0 {
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3625;
            letter-spacing: 0.03rem;
            color: #000000;
          }
          .description-to-explore-more-read-more-9fn-sub-1 {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.3625;
            letter-spacing: 0.03rem;
          }
          .description-to-explore-more-read-more-9fn-sub-2 {
            letter-spacing: 0.03rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.5;
          }
          .description-to-explore-more-read-more-9fn-sub-3 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3625;
            letter-spacing: 0.03rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .auto-group-opbe-3HJ {
          width: 100%;
          align-items: flex-end;
          background-color: #fcfcfc;
          box-sizing: border-box;
          padding: 0rem 2.2rem 0.4rem 2.3rem;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #d1cece;
          border-radius: 0 0 1.5rem 1.5rem;

          .auto-group-gsvc-MHz {
            padding: 0.9rem 28.4rem 1.2rem 1.4rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;
            background-color: #f2f2f2;
            flex-shrink: 0;
            margin: 0rem 0.1rem 1.6rem 0rem;
            box-sizing: border-box;

            .vector-SaL {
              margin: 0.16rem 1.402rem 0rem 0rem;
              width: 1.5978rem;
              height: 0.96rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .introduction-AFS {
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3625;
              letter-spacing: 0.032rem;
            }
          }
          .the-4sa-method-how-to-bring-a-idea-into-progress--gja {
            line-height: 1.3625;
            flex-shrink: 0;
            margin: 0rem 6.4rem 3rem 0rem;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.028rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .see-more-mW8 {
            line-height: 1.3625;
            color: #5f6060;
            flex-shrink: 0;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0.7rem 2.9rem 0rem;
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.028rem;
          }
          .auto-group-5b76-4k8 {
            box-sizing: border-box;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0rem 1.6rem 0.1rem;
            border: solid 0.1rem #d8d7d7;
            background-color: #fbfbfb;
            padding: 0.9rem 31.8rem 1.2rem 1.4rem;

            .vector-Zgt {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.16rem 1.402rem 0rem 0rem;
              width: 1.5978rem;
              height: 0.96rem;
              object-fit: contain;
            }
            .thread-a-J8g {
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3625;
              letter-spacing: 0.032rem;
            }
          }
          .how-are-you-going-to-develop-your-stratergy-which-method-are-you-going-to-use-to-develop-a-stratergy-what-if-the-project-is-lengthy-p72 {
            font-size: 1.4rem;
            letter-spacing: 0.028rem;
            font-family: Open Sans, 'Source Sans Pro';
            margin-bottom: 2.9rem;
            max-width: 41.9rem;
            font-weight: 400;
            line-height: 1.3625;
            color: #000000;
            flex-shrink: 0;
          }
          .see-more-5Hr {
            white-space: nowrap;
            flex-shrink: 0;
            letter-spacing: 0.028rem;
            color: #5f6060;
            font-weight: 600;
            line-height: 1.3625;
            font-family: Open Sans, 'Source Sans Pro';
            margin: 0rem 0.7rem 2.5rem 0rem;
            font-size: 1.4rem;
          }
          .auto-group-chr8-zQp {
            font-family: Open Sans, 'Source Sans Pro';
            border: solid 0.1rem #d8d7d7;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            letter-spacing: 0.032rem;
            color: #000000;
            padding: 0.8rem 2.4rem 1.3rem 2.4rem;
            white-space: nowrap;
            background-color: #fbfbfb;
            line-height: 1.3625;
            width: 39.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            box-sizing: border-box;
          }
          .you-have-a-concept-how-will-you-put-into-progress-qwE {
            font-weight: 400;
            line-height: 1.3625;
            letter-spacing: 0.028rem;
            color: #000000;
            white-space: nowrap;
            margin-right: 3.3rem;
            font-size: 1.4rem;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-bb4l-GFr {
        flex-shrink: 0;
        width: 8.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-ajay-QN4 {
          border-radius: 4.25rem;
          flex-shrink: 0;
          margin-bottom: 2.1rem;
          box-sizing: border-box;
          padding: 2.2rem 2.4rem 2.3rem 2.4rem;
          width: 100%;
          background-color: #0029ff;

          .question-mark-2-1-vrC {
            width: 3.7rem;
            height: 4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-56fz-eXJ {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.9rem 1.9rem 2rem 2rem;
          width: 100%;
          background-color: #0029ff;
          border-radius: 4.25rem;

          .meeting-1-zLG {
            width: 4.6rem;
            height: 4.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .auto-group-xp7s-6u6 {
      margin-left: 109rem;
      box-sizing: border-box;
      padding: 2rem 1.5rem 1.5rem 2rem;
      background-color: #0029ff;
      border-radius: 4.25rem;
      flex-shrink: 0;

      .schedule-1-1-du2 {
        object-fit: cover;
        vertical-align: top;
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
